.nav-color{
    background-color:blueviolet;
}

.col-2.sidebar{
    height: 35em!important;
    width: 12%!important;
}

.sidebar-item{
    color: aliceblue;
    font-size: 18px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px 0;
}

.link{
    color: white!important;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0px;
    text-align: center;
}

.col-10.main-fitures{
    margin:2% 14%!important;
}
